@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import 'vars.css';
@import 'reset.css';
@import 'menu.css';
@import 'article.css';
@import 'syntax.css';

body {
    font-family: 'Open Sans';
    line-height: 1.4;
    /* background-color: var(--faded); */
    background-color: rgb(224, 224, 224);
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: var(--mainCompCol);
    box-shadow: 0 2px  2px rgba(0, 0, 0, 0.2);
    z-index: 666;
}
footer {
    background-color: var(--mainCompCol);
    box-shadow: 0 -2px  2px rgba(0, 0, 0, 0.2);
    
    min-height: 20rem;
}

p {
    margin-top: var(--lrg);
}

strong {
    font-weight: 600;
}

.hcontainer {
    display: flex;
    width: 60%;
    height: 5rem;
    margin: auto;
}

.fcontainer {
    display: flex;
    width: 60%;
    height: 5rem;
    margin: auto;
}

.container {
    background-color: var(--mainCol);

    width: var(--mainWidth);
    min-height: 150vh;
    margin: auto;

    z-index: -666;
}

@media only screen and (max-width: 1200px) {
    .container {
        font-size: 0.8rem;
        width: 100%;
        margin: 3px;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        font-size: 0.8rem;
        width: 100%;
        margin: 3px;
    }
}

.output {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    width: 100%;
    margin: auto;
    margin: 2rem 0 1rem 0;

}

.row {
    background-color: #555;

    border-bottom: 1px solid rgb(109, 104, 104);
}

.item {
    display: inline-block;
    width: 33.32%;
    padding: 5px;
    background-color: var(--mainColDark);
    color: var(--faded);
    border-right: 1px solid rgb(168, 168, 168);
    border-left: 1px solid rgb(168, 168, 168);
    text-align: center;
}

.bold {
    font-weight: bold;
}

.item.bold {
    color: var(--faded);
    background-color: var(--mainCol);
    border: var(--mainCol);
}

.point {
    display: block;
}

.point-nested {
    display: block;
    margin-left: 4rem;
}

.point::before, .point-nested::before {
    display: inline-block;
    content: '';

    height: var(--medLrg);
    width: var(--medLrg);
    margin-right: var(--smlMed);

    border-radius: 50%;
    
}

.point::before {
    border: 4px dotted var(--mainColDarkest);
}

.point-nested::before {
    border: 4px dashed var(--mainColDark);
}
