:root {
    --smallest: 1px;
    --sml: 2px;
    --smlMed: 5px;
    --med: 10px;
    --medLrg: 15px;
    --lrg: 35px;
    --vlrg: 125px;
    --mainWidth: 60%;

    --mainHue: 190;
    --mainSat: 30%;
    --mainLig: 50%;
    --mainFadedSat: 30%;
    --mainFadedLig: 30%;

    --mainCol: hsl(var(--mainHue), var(--mainSat), var(--mainLig));
    --mainColDark: hsl(var(--mainHue), var(--mainSat), 20%);
    --mainColDarkest: hsl(var(--mainHue), var(--mainSat), 15%);
    --mainColTrans: hsl(var(--mainHue), var(--mainSat), 15%);
    --mainCompCol: hsl(calc(var(--mainHue) + 180), var(--mainSat), var(--mainLig));
    --mainCompColDark: hsl(calc(var(--mainHue) + 180), var(--mainSat), 30%);
    --mainCompColDarkest: hsl(calc(var(--mainHue) + 180), var(--mainSat), 15%);

    --syntaxBackground: rgb(32, 32, 32);

    --monochromeText: rgb(19, 231, 0);
    --highlight: hsl(calc(var(--mainHue) + 120), calc(var(--mainSat) + 70), 70%);
    --faded: hsl(0, 0%, 90%);
    --fadedDark: hsl(23, 59%, 17%);
    --darkest: rgb(29, 28, 28);
}