:root {
    --smallest: 1px;
    --sml: 2px;
    --smlMed: 5px;
    --med: 10px;
    --medLrg: 15px;
    --lrg: 35px;
    --vlrg: 125px;
    --mainWidth: 50%;

    --mainHue: 200;
    --mainSat: 30%;
    --mainLig: 50%;
    --mainFadedSat: 30%;
    --mainFadedLig: 30%;

    --mainCol: hsl(var(--mainHue), var(--mainSat), var(--mainLig));
    --mainColDark: hsl(var(--mainHue), var(--mainSat), 20%);
    --mainColDarkest: hsl(var(--mainHue), var(--mainSat), 15%);
    --mainColTrans: rgba(245, 92, 61, 0.5);
    --mainColTrans: hsl(var(--mainHue), var(--mainSat), 15%);
    --mainColTrans: hsl(var(--mainHue), var(--mainSat), 15%);
    --mainCompCol: hsl(calc(var(--mainHue) + 180), var(--mainSat), var(--mainLig));
    --mainCompColDark: hsl(calc(var(--mainHue) + 180), var(--mainSat), 30%);
    --mainCompColDarkest: hsl(calc(var(--mainHue) + 180), var(--mainSat), 15%);

    --highlight: rgb(238, 255, 0);
    --faded: hsl(0, 0%, 90%);
    --darkest: rgba(0, 0, 0, 1);
}